ExamenProg3/C#/TransiSoft/TransiSoftWA/Connected Services/TransiSoftServices/CapturaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://general.services.transisoft.pucp.edu.pe/" targetNamespace="http://general.services.transisoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCaptura" type="tns:eliminarCaptura" />
  <xs:element name="eliminarCapturaResponse" type="tns:eliminarCapturaResponse" />
  <xs:element name="insertarCaptura" type="tns:insertarCaptura" />
  <xs:element name="insertarCapturaResponse" type="tns:insertarCapturaResponse" />
  <xs:element name="listarCapturasTodas" type="tns:listarCapturasTodas" />
  <xs:element name="listarCapturasTodasResponse" type="tns:listarCapturasTodasResponse" />
  <xs:element name="modificarCaptura" type="tns:modificarCaptura" />
  <xs:element name="modificarCapturaResponse" type="tns:modificarCapturaResponse" />
  <xs:element name="obtenerCapturaPorId" type="tns:obtenerCapturaPorId" />
  <xs:element name="obtenerCapturaPorIdResponse" type="tns:obtenerCapturaPorIdResponse" />
  <xs:complexType name="insertarCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" name="captura" type="tns:captura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="captura">
    <xs:sequence>
      <xs:element minOccurs="0" name="camara" type="tns:camara" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_captura" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element name="velocidad" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="camara">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_serie" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="latitud" type="xs:int" />
      <xs:element name="longitud" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCapturaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCapturasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCapturasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:captura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCaptura">
    <xs:sequence>
      <xs:element name="idCaptura" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCapturaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCapturaPorId">
    <xs:sequence>
      <xs:element name="idCaptura" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCapturaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:captura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCaptura">
    <xs:sequence>
      <xs:element minOccurs="0" name="captura" type="tns:captura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCapturaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>