ExamenProg3/C#/TransiSoft/TransiSoftWA/Connected Services/TransiSoftServices/InfraccionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://general.services.transisoft.pucp.edu.pe/" targetNamespace="http://general.services.transisoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarInfraccion" type="tns:eliminarInfraccion" />
  <xs:element name="eliminarInfraccionResponse" type="tns:eliminarInfraccionResponse" />
  <xs:element name="insertarInfraccion" type="tns:insertarInfraccion" />
  <xs:element name="insertarInfraccionResponse" type="tns:insertarInfraccionResponse" />
  <xs:element name="listarInfraccionesTodas" type="tns:listarInfraccionesTodas" />
  <xs:element name="listarInfraccionesTodasResponse" type="tns:listarInfraccionesTodasResponse" />
  <xs:element name="modificarInfraccion" type="tns:modificarInfraccion" />
  <xs:element name="modificarInfraccionResponse" type="tns:modificarInfraccionResponse" />
  <xs:element name="obtenerInfraccionPorId" type="tns:obtenerInfraccionPorId" />
  <xs:element name="obtenerInfraccionPorIdResponse" type="tns:obtenerInfraccionPorIdResponse" />
  <xs:complexType name="eliminarInfraccion">
    <xs:sequence>
      <xs:element name="idInfraccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarInfraccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerInfraccionPorId">
    <xs:sequence>
      <xs:element name="idInfraccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerInfraccionPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infraccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="camara" type="tns:camara" />
      <xs:element minOccurs="0" name="captura" type="tns:captura" />
      <xs:element name="exceso" type="xs:double" />
      <xs:element minOccurs="0" name="fecha_registro" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="limite" type="xs:double" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="propietario" type="tns:propietario" />
      <xs:element minOccurs="0" name="vehiculo" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="camara">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo_serie" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="latitud" type="xs:int" />
      <xs:element name="longitud" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="captura">
    <xs:sequence>
      <xs:element minOccurs="0" name="camara" type="tns:camara" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_captura" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element name="velocidad" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propietario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculo">
    <xs:sequence>
      <xs:element name="anho" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInfraccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="infraccion" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarInfraccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInfraccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="infraccion" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarInfraccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarInfraccionesTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarInfraccionesTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:infraccion" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>